*{
    margin: 0;
  
}

body{
    background-color:white;
}
nav{

    color: black;
     padding-right:0px;
     margin-left: 0px; 
    }
    nav {
       background-color:white;
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav a{
        padding: 10px,30px ;
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: bold;
    }
    nav a:hover{
        background: linear-gradient(to right, red, rgb(5, 239, 5), blue);
        opacity:0.8;
        border-radius: 10px;
        opacity:0.8;   
    }
    
   
    .box{
        margin-left: 20px;
    }
    .box a{
        padding: 10px 30px;
    }
    
    input[type=text] {
        background-color:rgb(244, 102, 102);
        height:30px;
        width:200px;
        border-radius:20px;
        margin-left:150px;
        font-size:17px;
        border: transparent;
        }

        .table{
            padding-top: 10px;
           display:grid;
           grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
           gap: 20px;
           place-items: center;
          }

          .kick{
            margin-left: 90px;
           margin-top: 70px;
          }
          .nike{
            margin-left: 90px;
           margin-top: 72px;
          }
          .multi{
            margin-left: 90px;
           margin-top: 75px;
          }
          .type{
            
            position:absolute;
            top:330px;
            margin-left: 78%;
           
          }
          .size{
            position:absolute;
            top:450px;
            margin-left: 78%;
          }
          .branding{
            position:absolute;
            top:550px;
            margin-left: 78%;
          }
          .call{
            position: absolute;
            margin-left: 90px;
            top:90%;
          }
          .con{
            position: absolute;
            top:95%;
            background-color:tomato;
            height:30px;
            border-radius:5px;
            width:200px;
            font-size: 20px;
            margin-left:90px;
            border:none;
          }
          .price{
            position:absolute;
            top:650px;
            margin-left: 78%;
          }
          .pay{
            position:absolute;
            top:700px;
            margin-left: 80%;
            background-color:rgb(88, 88, 248);
            color:white;
            height:30px;
            width:120px;
            padding-left:50px;
            font-size: 20px;
            border:none;
            text-decoration: none;
            border-radius:5px;
          }